 .view-text{
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow:ellipsis;
            font-size: 13px;
        }
 .pic{
            width: 100px;
            height: 32px;
        }
 .ddd{
            /*width: 175px;*/
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
 .layout{
            float: left;
        }
 .value{
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            margin-top: 6px;
            height: 20px;
 }