/*我的课程详情界面*/
/*第一部分课程名称行*/
.schedule_intro_box {
    padding: 124px 0 18px;
    background-color: #fff;
    width: 100%;
}
.schedule_intro {
    position: relative;
}
.course_container {
    width: 1120px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
    box-sizing: border-box;
}
.mylesson_gototop {
    margin-left: 1154px;
}
.gototop {
    position: fixed;
    bottom: 63px;
    margin-left: 1006px;
    z-index: 9999;
}
.gototop_png {
    position: relative;
    width: 37px;
    height: 38px;
    display: inline-block;
    cursor: pointer;
    background-color: #D8D6D6;
    border-radius: 50%;
}
.schedule_intro .lesson_intro .relate_time {
    font-size: 15px;
    color: #6e6e7e;
    line-height: 14px;
    margin-bottom: 12px;
}
.schedule_intro .lesson_intro {
    padding-top: 1px;
    display: inline-block;
    padding-bottom: 15px;
}

.float_left {
    float: left;
}
.lesson_title {
    font-size: 26px;
    font-weight: 700;
    color: #000027;
    line-height: 24px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
}
.relate_time {
    font-size: 18px;
    color: #6e6e7e;
    line-height: 14px;
    margin-bottom: 12px;
}
.past_hint {
    margin-right: 14px;
}
.past_countdown {
    color: #000027;
    margin-right: 11px;
}
.pas_days{
    font-size: 14px;
    color: red;
    font-weight: 800;
}
.lesson_attr .phone_live {
    color: #6e6e7e;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    height: 20px;
}
.lesson_attr .support_mo_icon {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: -37px -5px;
    margin-right: 5px;
}
.support_mo_word {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
/*课程条右半边*/
.schedule_intro_right_hd {
    float: right;
    margin-top: 37px;
}
.qq_group_icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 16px;
    /*background-repeat: no-repeat;*/
    /*background-position: -57px -5px;*/
    margin-right: 8px;
}
.qq_group_word {
    display: inline-block;
    vertical-align: middle;
    color: #4b3c56;
    font-size: 16px;
    margin-top: -6px;
}
.qq_group_num.null {
    color: #d2d2d8;
    font-size: 16px;
    margin-top: -6px;
}

.qq_group_num {
    display: inline-block;
    vertical-align: middle;
    color: #4b3c56;
    font-size: 26px;
}
.addr_modify_enter_btn_hd {
    text-align: right;
    margin-top: 6px;
}
.check_address {
    color: #6e6e7e;
    cursor: pointer;
    font-size: 14px;
}
/*中间主界面模块*/
.mylesson_main_hd {
    width: 100%;
    border-top: 1px solid #efefef;
    padding-bottom: 107px;
}
.mylesson_main {
    padding-top: 18px;
}
.schedule {
    width: 780px;
    margin-right: 10px;
    box-sizing: border-box;
}
/*导航条目录，考试等*/
.schedule .schedule_sort {
    height: 50px;
    border: 1px solid #efefef;
    border-bottom: 0;
    width: 780px;
    box-sizing: border-box;
}
.schedule .schedule_sort li {
    float: left;
    width: 33.333333%;
    height: 100%;
    box-sizing: border-box;
    background: #f9f9f9;
    text-align: center;
    line-height: 50px;
}
.schedule .schedule_sort li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #333333;
    box-sizing: border-box;
    font-size: 14px;
}
.schedule .schedule_sort li a.pitch {
    background: #fff;
    border: 0;
    border-top: 3px solid #6e6e7e;
    border-radius: 0;
}
.new_hint {
    position: absolute;
    background-color: #f57d72;
    width: 40px;
    height: 18px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    top: 6px;
    font-style: normal;
    font-weight: 700;
    right: 22px;
    display: none;
}
/*导航条下属部分*/
.schedule .schedule_list {
    padding: 0 0 25px;
    width: 100%;
    border: 1px solid #efefef;
    border-top: 0;
    background: #fff;
    box-sizing: border-box;
    min-height: 220px;
}
.part_con {
     display: none;
 }
.live_catalog {
    width: 100%;
    display: block;
}

.schedule_groups_border_bottom {
    padding-bottom: 12px;
}
.schedule_group_con_last {
    border-bottom: 0;
}
.schedule_group_con {
    width: 100%;
    padding: 24px 30px 0;
    box-sizing: border-box;
    position: relative;

}
.group_title {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 5px 17px;
    position: relative;
    border-left: 1px solid #d8d8d8;
}
.date_circle_live {
    background: #dedede;
}
.date_circle {
    width: 13px;
    height: 13px;
    background: #f5d220;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -7px;
}
.group_cons_list_last {
    padding: 0 0 0 23px;
}
.group_cons_list {
    border-left: 1px solid #d8d8d8;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 14px 23px;
    border-radius: 0;
}
.group_cons_list_last .group_cons_last {
    border-bottom: 0;
}
.group_cons {
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 17px 0 28px;
    box-sizing: border-box;
}
/*鼠标移动变色*/
.group_cons:hover {
    background-color:#f3f3f3
}
li .list_con {
    font-size: 14px;
    line-height: 14px;
    color: #333;
    padding: 11px 0;
    box-sizing: border-box;
}
.list_time_hd {
    margin-bottom: 10px;
    position: relative;
}
li .list_con span {
    display: inline-block;
}
li .list_con .teacher {
    margin-left: 10px;
    color: #999;
}
.right_btn {
    margin-top: 15px;
}
.float_right {
    float: right;
}
.see_replay:hover{
    color: chocolate;
}
.evaluate:hover{
    color: chocolate;
}
.right_btn a.set_grey {
    opacity: .4;
    background: transparent;
    border: 1px solid #ededed;
    cursor: default;
}
li .right_btn a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #666;
    text-align: center;
    box-sizing: border-box;
    margin-left: 16px;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 18px;
    width: 74px;
}
/*设置观看视频评价小btn透明度*/
.right_btn a.set_grey div {
    opacity:.8
}
/*第二个小模块直播*/
.playback_catalog {
    width: 100%;
    display: none;
}
.learned_box {
    position: absolute;
    top: 8px;
    left: 0;
}
.learned_box i{
    color: lawngreen;
}
.learn_icon {
    width: 14px;
    height: 14px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    margin: 11px 8px 0 10px;
    box-sizing: border-box;
}
/*中间部分在线考试及右侧个人信息*/
.exam {
    box-sizing: border-box;
    padding-top: 32px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: 0;
}
.exam_list {
    padding-bottom: 24px;
}
.exam_list img{
    width: 650px;
    height: 420px;
    margin-left: 65px;
}
.no_exam_wrap {
    width: 100%;
    padding: 60px 0 176px;
    box-sizing: border-box;
    text-align: center;
}
.no_course_hint {
    position: relative;
    display: inline-block;
    color: #5b5b5b;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: default;
}
.mylesson_card {
    width: 330px;
    border: 1px solid #efefef;
    background-color: #fff;
    padding: 20px 20px 30px;
    box-sizing: border-box;
}
.card_head_hd {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
}
.card_head_icon {
    width: 56px;
    margin-right: 14px;
}
.download_icon{
    width: 36px;
    margin-right: 14px;
    margin-top: 15px;
}
.card_head_intro {
    padding: 2px 0;
    width: 210px;
}
.card_head_title {
    font-size: 15px;
    color: #333;
    line-height: 27px;
}
.card_user_statue {
    margin-right: 12px;
    line-height: 24px;
}
.card_main_hd {
    padding-top: 30px;
}
.card_progress_bar_item {
    width: 72px;
    display: inline-block;
    box-sizing: border-box;
}
.card_progress_bar_item_space {
    margin-right: 35px;
}
.card_progress_circle {
    width: 72px;
    height: 85px;
    text-align: center;
}
.card_progress_title.l {
    background-color: #6fd321;
    text-align: center;
}
.card_progress_title.m {
    background-color: #FFD007;
    text-align: center;
}
.card_progress_title.r {
    background-color: #9AA1AC;
    text-align: center;
}
.Chart{
    width: 100px;
    height:100px;
    margin-top: -15px;
    margin-left: -18px;
}


