<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜜蜂教育</title>
    <link rel="stylesheet" href="__HOME__/layui/css/layui.css">
    <link rel="stylesheet" href="__HOME__/css/login.css">
    <link rel="stylesheet" href="__HOME__/css/mifeng.css">
    <!--网站的图标icon-->
    <link rel="icon" type="image/x-icon" href="__HOME__/img/logo2.ico" />
    <style>
    </style>
</head>

<body>
<div id="login">
    <h1 style="text-align: center">教师/管理员登录</h1>
    <form class="layui-form" method="post" action="{:U('login/index')}">
        <div class="layui-form-item" >
            <div class="username" style="margin-top: 10px">
                <img src="__HOME__/img/yonghu.png"style="width: 25px">
                <input type="text" id="lo-account" required name="username" placeholder="请输入用户名" tabindex="1">
            </div>
            <div class="username">
                <img src="__HOME__/img/mima.png"style="width: 25px">
                <input type="password" id="lo-pwd" required name="password" placeholder="请输入密码" tabindex="1">
            </div>
            <div class="Login_code">
                <img src="__HOME__/img/yanzhengma.png" class="first_code" style="width: 25px">
                <input type="text" id="lo-code" required name="code" placeholder="请输入验证码" tabindex="1">
                <img id="verify_img" title="点击更换" src="{:U('Login/getVerify',array())}" class="m">
                <span id="show_code">验证码不正确</span>
            </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-12">
                <button id="mmm" type="submit"  class="layui-btn layui-btn-fluid layui-right layui-bg-orange" lay-submit style="margin-top: 20px;margin-right: 5px">登录</button>
            </div>
        </div>
</div>
        <a style="margin-left: 10px">忘记密码</a>
        <!-- <a style="margin-left: 170px " href="{:U('index')}">学生登录</a> -->

    </form>
</div>
<script src="__HOME__/layui/layui.js"></script>
<script src="__HOME__/js/jquery.js"></script>
<script>
//点击验证码实现刷新
$("#verify_img").click(function() {
   var verifyURL = "{:U('Login/getVerify',array())}";
   $("#verify_img").attr({
      "src" : verifyURL
   });
});
//前台校验验证码正确性
$("#lo-code").keyup(function() {
    $.post("check_verify", {
        code : $("#lo-code").val()
        }, function(data) {
        if (data == true) {
            //验证码输入正确
            $("#show_code").css('display','none');
        } else {
            //验证码输入错误
            $("#show_code").css('display','block');
        }
    });
});
</script>
</body>
</html>